{% block content %}
<aside>
    <div class="flex description-top">
        <h2>{{selected_item.name}}</h2>
    </div>
    <form action="{% url 'shoppingList' %}" method="POST">
        {% csrf_token %}

        <input type="submit" class="closeDetail" value="X">
    </form>
    <form action="{% url 'descriptionEdit' selected_item.id %}" id="description_form" method="post" name="description"
        onload="javascript:descResize()">
        {% csrf_token %}
        <textarea class="item_description" name="description" id="description_text"
            placeholder="Dodaj opis">{% if selected_item.description != None %}{{selected_item.description}}{% endif %}</textarea>
    </form>
    <p class="created_at">Created at: {{selected_item.created }}</p>
    by {{ selected_item.user}}

</aside>
{% endblock content %}