{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'app/main.css' %}">
  <link rel="icon" href="{% static 'app/favicon.ico' %}" type="image/x-icon">
  <title>Shopping List</title>
</head>

<body>
  <header>
    <h1>Shopping list</h1>
  </header>
  <main>
    <section>
      <div class="list">
        {%if not shopping_list %}
        <h2 class="emptyListText center flex">Add something to your list...</h2>
        {% else %}
        {% for item in shopping_list %}
        <a class="item" href="{%url 'itemDetail' item.id %}">
            <form class="complete_checkbox" method="post" action="{% url 'itemComplete' item.id %}">
              {% csrf_token %}
              {% if selected_item %}
                <input type="hidden" name="current_pk" value="{{ selected_item.id }}">
              {% endif %}
              <label class="switch">
                <input type="checkbox" name="complete" onchange="this.form.submit()" {%if item.complete %}
                  checked {%endif%}>
                <span class="slider"></span>
              </label>
            </form>
              <p class="item_text {%if item.complete %} item_completed {% endif %}">{{item.name}}</p>
            <form method="post" action="{% url 'itemDelete' item.id %}" class="flex">
              {% csrf_token %}
              {% if selected_item and selected_item.id != item.id %}
                <input type="hidden" name="current_pk" value="{{ selected_item.id }}">
              {% endif %}
              <input class="usun" type="submit" value="&#128465" />
            </form>
          </a>
        {% endfor %}
        {% endif %}
      </div>
      <form class="add_form flex center" method="post" action="{% url 'itemAdd' %}">
        {% csrf_token %}
        {% if selected_item %}
          <input type="hidden" name="current_pk" value="{{ selected_item.id }}">
        {% endif %}
        <input type="text" class="input" id="userInput" name="name" autocomplete="off" data-1p-ignore/>
        <input class="add_submit" type="submit" value="Dodaj"/>
      </form>
      <form method="POST" action="{% url 'clearAllItems' %}" class="clearAllForm">
        {% csrf_token %}
      <button class="clearAllButton">Clear</button>
      </form>
    </section>
    {%if selected_item %}
    <div class="gap"></div>
    {% include 'app/item_detail.html'%}
    {%endif%}
  </main>
<script src="{% static 'app/main.js' %}"></script>
</body>

</html>